In [1]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

# data = https://vincentarelbundock.github.io/Rdatasets/doc/AER/USAirlines.html
data = pd.read_csv('airlines.csv', index_col=0)
data.head()

   airline  year     cost    output      pf        lf
1        1     1  1140640  0.952757  106650  0.534487
2        1     2  1215690  0.986757  110307  0.532328
3        1     3  1309570  1.091980  110574  0.547736
4        1     4  1511530  1.175780  121974  0.540846
5        1     5  1676730  1.160170  196606  0.591167

In [2]:
formula='cost ~ output + pf + lf'

model = smf.glm(formula=formula, data=data, family=sm.families.Poisson())
result = model.fit()
print(result.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                   cost   No. Observations:                   90
Model:                            GLM   Df Residuals:                       86
Model Family:                 Poisson   Df Model:                            3
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -3.7938e+06
Date:                Thu, 05 May 2022   Deviance:                   7.5862e+06
Time:                        13:38:51   Pearson chi2:                 6.93e+06
No. Iterations:                     5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     13.2825      0.001   1.03e+04      0.000      13.280      13.285
output         1.3716      0.000   6934.545      0.000       1.371       1.372
pf          9.174e-07   3.38e-10   2717.229      0.000    9.17e-07    9.18e-07
lf            -1.6491      0.002   -684.743      0.000      -1.654      -1.644
==============================================================================

In [3]:
data['Estimación'] = result.predict(data)
data['Estimación'] = data['Estimación'].round(0)
data['Error'] = data['cost'] - data['Estimación']
data.head()

   airline  year     cost    output      pf        lf  Estimación     Error
1        1     1  1140640  0.952757  106650  0.534487    990225.0  150415.0
2        1     2  1215690  0.986757  110307  0.532328   1044695.0  170995.0
3        1     3  1309570  1.091980  110574  0.547736   1176896.0  132674.0
4        1     4  1511530  1.175780  121974  0.540846   1349369.0  162161.0
5        1     5  1676730  1.160170  196606  0.591167   1301748.0  374982.0

In [4]:
import numpy as np
data['Error2'] = ((data['cost'] - data['Estimación']) ** 2).round(2)
np.sqrt(data['Error2'].mean())

333415.7575309608