In [3]:
import pandas as pd
web = 'https://resultados.as.com/resultados/futbol/primera/clasificacion/'
df = pd.read_html(web)
df[2]

             Equipo  Pts.  PJ  PG  PE  PP  GF  GC
0    1  Real Madrid    41  17  13   2   2  35  16
1      2  Barcelona    31  17   8   7   2  29  18
2        3  Sevilla    26  17   6   8   3  15  11
3       4  Atlético    24  16   7   3   6  28  24
4          5  Betis    28  16   8   4   4  25  18
5    6  R. Sociedad    23  16   6   5   5  20  24
6     7  Villarreal    17  16   4   5   7  15  16
7       8  Athletic    21  17   4   9   4  14  16
8        9  Osasuna    23  16   7   2   7  18  21
9      10  Valencia    20  17   5   5   7  21  28
10      11  Rayo  3    12  17   3   3  11  12  26
11     12  Celta  1    20  16   5   5   6  15  14
12  13  Espanyol  1     8  16   1   5  10  14  28
13     14  Elche  1    15  17   4   3  10  16  27
14       15  Getafe    10  17   1   7   9  10  22
15  16  Mallorca  2     8  16   2   2  12  13  36
16     17  Cádiz  1    17  16   4   5   7  14  23
17   18  Granada  1    13  17   2   7   8  16  28
18      19  Levante     9  16   2   3  11  18  37
19       20  Alavés     6  17   1   3  13  13  37

In [6]:
df = pd.read_excel('siniestros.xls')
df.head()

   Poliza  Importe
0  102541       17
1  101204       20
2  104459       22
3  102976       10
4  105099       16

In [10]:
filename = 'EIOPA_RFR_20220331_Term_Structures.xlsx'
sheetname = 'RFR_spot_no_VA'
clr = pd.read_excel(filename, sheet_name=sheetname, skiprows=9, usecols=(1,2), names=['t','Euro'])
clr.head()

   t     Euro
0  1 -0.00175
1  2  0.00436
2  3  0.00703
3  4  0.00829
4  5  0.00895

In [7]:
web2 = 'https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000'
df2 = pd.read_html(web2)[3]
df2['Últ.'] = df2['Últ.']/10000
df2

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,190.2000,-78,1920000,1895000,14.146,2.69296,29/04/2022,11:34:13
1,ACERINOX,10.0300,93,101150,100050,304.473,3.06342,29/04/2022,11:35:54
2,ACS,24.8800,12,250000,248100,85.702,2.13551,29/04/2022,11:34:43
3,AENA,136.2500,-212,1423000,1350500,32.143,4.42866,29/04/2022,11:35:58
4,ALMIRALL,12.4500,-16,125300,123200,69.127,86202.00000,29/04/2022,11:31:40
5,AMADEUS,60.6000,171,610600,601600,97.775,5.92918,29/04/2022,11:35:46
6,ARCELORMIT.,28.0600,117,285900,280100,214.048,6.04680,29/04/2022,11:34:43
7,B.SANTANDER,2.7965,162,28100,27610,40.244.584,111.97739,29/04/2022,11:35:59
8,BA.SABADELL,0.7434,305,7454,7160,12.014.274,8.82470,29/04/2022,11:35:36
9,BANKINTER,5.5640,69,55720,54700,507.820,2.80422,29/04/2022,11:35:46
10,BBVA,4.9645,456,50130,48600,6.770.161,33.52875,29/04/2022,11:35:37
11,CAIXABANK,3.0500,290,30590,29130,9.531.778,28.41070,29/04/2022,11:35:58
12,CELLNEX,44.4400,43,451000,439700,162.307,7.21141,29/04/2022,11:35:48
13,CIE AUTOMOT.,20.9600,397,211800,206000,74.629,1.55935,29/04/2022,11:33:57
14,ENAGAS,20.7000,-148,210500,202500,302.737,6.23079,29/04/2022,11:33:16
15,ENDESA,20.1000,-74,202600,198300,207.968,4.15481,29/04/2022,11:34:32
16,FERROVIAL,24.6700,-100,250500,246400,117.184,2.90862,29/04/2022,11:35:46
17,FLUIDRA,25.9000,319,260000,252600,70.732,1.81279,29/04/2022,11:35:40
18,GRIFOLS CL.A,16.3850,-103,165300,161300,257.944,4.21600,29/04/2022,11:34:01
19,IAG,1.6875,-186,17455,16875,4.496.099,7.72809,29/04/2022,11:35:48
20,IBERDROLA,11.0350,-54,111000,109750,1.954.588,21.54737,29/04/2022,11:35:45
21,INDITEX,20.0700,-35,204700,200500,470.954,9.52078,29/04/2022,11:35:13
22,INDRA A,9.8200,668,98900,94500,671.100,6.50361,29/04/2022,11:35:43
23,INM.COLONIAL,8.0500,-80,81200,80500,188.335,1.52405,29/04/2022,11:31:50
24,MAPFRE,1.7200,-143,17980,17150,4.972.608,8.72981,29/04/2022,11:35:55
25,MELIA HOTELS,7.8900,280,79500,75900,604.225,4.72883,29/04/2022,11:34:27
26,MERLIN,10.5100,-38,105800,103800,376.876,3.96311,29/04/2022,11:31:59
27,NATURGY,28.8700,-230,295200,285500,92.657,2.67730,29/04/2022,11:35:42
28,PHARMA MAR,73.9800,298,739800,717400,22.034,1.60769,29/04/2022,11:33:44
29,R.E.C.,19.3400,-3,194000,191350,148.627,2.86103,29/04/2022,11:32:56
30,REPSOL,13.8100,132,140400,137600,2.530.640,35.19994,29/04/2022,11:35:59
31,ROVI,65.4000,108,658000,647000,25.895,1.69199,29/04/2022,11:35:46
32,SIEMENS GAME,15.1250,120,153000,149900,232.128,3.51658,29/04/2022,11:34:13
33,SOLARIA,21.4400,-51,217700,213700,57.998,1.24767,29/04/2022,11:34:31
34,TELEFONICA,4.6810,-47,47060,46560,2.086.874,9.75876,29/04/2022,11:35:18