In [1]:
import pandas as pd

fecha = '31/12/2021'
f_val = pd.to_datetime(fecha, format='%d/%m/%Y')

s = pd.date_range(start=f_val,periods=15,freq='M')
s

DatetimeIndex(['2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31',
               '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31',
               '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30',
               '2022-12-31', '2023-01-31', '2023-02-28'],
              dtype='datetime64[ns]', freq='M')

In [2]:
df = pd.DataFrame(s, columns=['Fecha'])
df

        Fecha
0  2021-12-31
1  2022-01-31
2  2022-02-28
3  2022-03-31
4  2022-04-30
5  2022-05-31
6  2022-06-30
7  2022-07-31
8  2022-08-31
9  2022-09-30
10 2022-10-31
11 2022-11-30
12 2022-12-31
13 2023-01-31
14 2023-02-28

In [3]:
df['Periodo'] = df['Fecha'].dt.to_period(freq='Q')
df

        Fecha Periodo
0  2021-12-31  2021Q4
1  2022-01-31  2022Q1
2  2022-02-28  2022Q1
3  2022-03-31  2022Q1
4  2022-04-30  2022Q2
5  2022-05-31  2022Q2
6  2022-06-30  2022Q2
7  2022-07-31  2022Q3
8  2022-08-31  2022Q3
9  2022-09-30  2022Q3
10 2022-10-31  2022Q4
11 2022-11-30  2022Q4
12 2022-12-31  2022Q4
13 2023-01-31  2023Q1
14 2023-02-28  2023Q1

In [4]:
df['Año'] = df['Fecha'].dt.year
df

        Fecha Periodo   Año
0  2021-12-31  2021Q4  2021
1  2022-01-31  2022Q1  2022
2  2022-02-28  2022Q1  2022
3  2022-03-31  2022Q1  2022
4  2022-04-30  2022Q2  2022
5  2022-05-31  2022Q2  2022
6  2022-06-30  2022Q2  2022
7  2022-07-31  2022Q3  2022
8  2022-08-31  2022Q3  2022
9  2022-09-30  2022Q3  2022
10 2022-10-31  2022Q4  2022
11 2022-11-30  2022Q4  2022
12 2022-12-31  2022Q4  2022
13 2023-01-31  2023Q1  2023
14 2023-02-28  2023Q1  2023

In [10]:
df['N_Dias'] = df['Fecha'].diff()
df

        Fecha Periodo   Año  N_Dias
0  2021-12-31  2021Q4  2021     NaT
1  2022-01-31  2022Q1  2022 31 days
2  2022-02-28  2022Q1  2022 28 days
3  2022-03-31  2022Q1  2022 31 days
4  2022-04-30  2022Q2  2022 30 days
5  2022-05-31  2022Q2  2022 31 days
6  2022-06-30  2022Q2  2022 30 days
7  2022-07-31  2022Q3  2022 31 days
8  2022-08-31  2022Q3  2022 31 days
9  2022-09-30  2022Q3  2022 30 days
10 2022-10-31  2022Q4  2022 31 days
11 2022-11-30  2022Q4  2022 30 days
12 2022-12-31  2022Q4  2022 31 days
13 2023-01-31  2023Q1  2023 31 days
14 2023-02-28  2023Q1  2023 28 days