# Ejercicio 3. Vida entera (Pasem2020 2ord Unisex)

In [2]:
import pandas as pd

In [3]:
pasem2020 = pd.read_csv('PASEM2020_Decesos_2ord_Unisex.csv')
pasem2020

           LX
0  100000.000
1   99002.728

In [4]:
def lx(edad):
    return pasem2020['LX'][edad]

lx(45)

55015.6972

In [5]:
edad = 45
df = pd.DataFrame(pd.date_range(start='2020-12-31',periods=len(pasem2020)-edad,freq='Y'), columns=['Fecha'])
df

       Fecha
0 2020-12-31
1 2021-12-31

In [7]:
df['edad'] = edad + df.index
df

       Fecha  edad
0 2020-12-31    45
1 2021-12-31    46

In [8]:
df['t'] = df.index
df['lx'] = df['edad'].apply(lambda x: lx(x))
df

       Fecha  edad  t          lx
0 2020-12-31    45  0  55015.6972
1 2021-12-31    46  1  54016.8787

In [9]:
df['qx'] = df['lx'].diff(-1).fillna(0)/df['lx'][0]
df

       Fecha  edad  t          lx        qx
0 2020-12-31    45  0  55015.6972  0.018155
1 2021-12-31    46  1  54016.8787  0.018152

In [10]:
df['capital'] = 5000

In [11]:
df['pagos'] = df['capital'] * df['qx']
df

       Fecha  edad  t          lx        qx  capital      pagos
0 2020-12-31    45  0  55015.6972  0.018155     5000  90.775774
1 2021-12-31    46  1  54016.8787  0.018152     5000  90.758134

In [12]:
df['pagos'].sum()

5000.0

In [13]:
i = 0.98/100
df['factor_desc'] = df['t'].apply(lambda t : 1 / (1 + i) ** t )
df.head(2)

       Fecha  edad  t          lx        qx  capital      pagos  factor_desc
0 2020-12-31    45  0  55015.6972  0.018155     5000  90.775774     1.000000
1 2021-12-31    46  1  54016.8787  0.018152     5000  90.758134     0.990295

In [34]:
df.to_excel('ejemplo.xlsx')

In [35]:
import numpy as np
np.dot(df['pagos'],df['factor_desc']).round(2)

3863.92

In [37]:
import numpy_financial as npf
npf.npv(i,df['pagos']).round(2)

3863.92